$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.ourWorkImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 1rem;

  &:hover {
    .ourWorkImage {
      border: 2px solid $primary;
      box-shadow: 0px 0px 15px 2px $primary;
      transition: 0.3s;
    }

    .ourWorkClient {
      color: $primary;
      transition: 0.3s;
    }
  }

  .ourWorkImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    width: 100%;
    border-radius: 15px;
    border: 2px solid #0aaab862;
    box-shadow: 0px 0px 15px 2px #0aaab862;
    img {
      display: block;
    }
  }
}
