$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.aboutWhoWeAreContent {
  padding: 5rem 1rem;
  overflow: hidden;

  .aboutWhoWeAreText {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    h2 {
      text-align: start;
    }

    .aboutWhoWeAreTextRight {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-left: 1px solid $medium;
      padding-left: 3rem;
      gap: 3rem;

      p {
        text-align: justify;
      }

      .aboutWhoWeAreCarouselWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: start;
          gap: 1rem;
        }

        img {
          width: 32%;

          @media screen and (max-width: 768px) {
            width: 90%;
          }
        }
      }
    }
  }
}

.textMask {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
