$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #000000;
$lightbg: #f2f2f2;

.servicesCard {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(122, 122, 122, 0);

  @media screen and (max-width: 425px) {
    height: 500px;
  }

  

  &:hover {
    .servicesCardDetails {
      h3 {
        color: $primary;
        transition: 0.3s;

        .servicesCardArrow {
          fill: $primary;
          bottom: 10px;
          transition: 0.3s;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .servicesCardGradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .servicesCardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    color: $light;
    z-index: 2; // ensure text stays above gradient
    text-align: justify;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      gap: 1rem;

      .servicesCardArrow {
        fill: $light;
        position: relative;
        bottom: 0;
        transition: 0.3s;
      }
    }

    .servicesCardTagContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        list-style-type: none;
        padding: 0.2rem 1rem;
        border-radius: 30px;
        background: rgba(242, 242, 242, 0.3);
        width: max-content;
        font-size: 0.8rem;

        &:hover {
          background: $primary;
          transition: 0.3s;
        }

        @media screen and (max-width: 425px) {
          font-size: 0.6rem;
        }
      }
    }
  }
}

.servicesCardPage {
  flex: 0 0 auto;
  width: 100%;
  height: 30vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(122, 122, 122, 0);

  @media screen and (max-width: 425px) {
    height: 300px;
      min-height: 300px;

  }

  

  &:hover {
    .servicesCardPageDetails {
      h3 {
        color: $primary;
        transition: 0.3s;

        .servicesCardPageArrow {
          fill: $primary;
          bottom: 10px;
          transition: 0.3s;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .servicesCardPageGradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .servicesCardPageDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2rem;

    position: absolute;
    bottom: 1;
    left: 0;
    right: 0;
    padding: 2rem;
    color: $light;
    z-index: 2; // ensure text stays above gradient
    text-align: justify;

    h3 {
      display: flex;
      justify-content: center;
      align-items: end;
      text-align: end;
      gap: 1rem;

      .servicesCardPageArrow {
        fill: $light;
        position: relative;
        bottom: 0;
        transition: 0.3s;
      }
    }
    

    .servicesCardPageTagContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        list-style-type: none;
        padding: 0.2rem 1rem;
        border-radius: 30px;
        background: rgba(242, 242, 242, 0.3);
        width: max-content;
        font-size: 0.8rem;

        &:hover {
          background: $primary;
          transition: 0.3s;
        }

        @media screen and (max-width: 425px) {
          font-size: 0.6rem;
        }
      }
    }
  }

  .servicesCardPageDetailsDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  color: $light;
  z-index: 2; // ensure text stays above gradient
  text-align: justify;

  }
}



.relatedProjectCardPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.relatedProjectCardImageWrapper {
  position: relative;
}

.relatedProjectCardImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.relatedProjectCardPageGradient {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

.cardNumber {
  text-align: end;
  padding-top : 10px;
  padding-bottom : 10px
}

.relatedProjectCardContent {
  padding-top: 16px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: left;
            @media screen and (max-width: 1024px) {
  text-align: center;


    }

    @media screen and (max-width: 768px) {
  text-align: center;


    }
}

.cardDesc {
  font-size: 0.85rem;
  text-align: left;
              @media screen and (max-width: 1024px) {
  text-align: center;


    }

    @media screen and (max-width: 768px) {
  text-align: center;


    }
}

.cardTags {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.cardTag {
  font-size: 0.75rem;
  color: $light;
}

.cardTagDiv {
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: flex ;
  flex-direction: column ;
  text-align: left;
}

.linkDiv {
  width: 30%;

            @media screen and (max-width: 1024px) {
  width: 100%;


    }

    @media screen and (max-width: 768px) {
  width: 100%;


    }
  
}


