$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.btnType0 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: white;
  background: linear-gradient(to right, $primary, $secondary);
  border-radius: 30px;
  border: 2px solid $secondary;
  transition: 0.2s;

  fill: white;

  &:hover {
    border: 2px solid $primary;
    color: white;
  }

  &:active {
    border: 2px solid $secondary;
    color: white;
  }
}

.btnType1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: white;
  background: linear-gradient(to right, $primary, $secondary);
  border-radius: 30px;
  border: 2px solid $secondary;
  transition: 0.2s;
  width: 280px;

  fill: white;

  &:hover {
    border: 2px solid $primary;
    color: white;
  }

  &:active {
    border: 2px solid $secondary;
    color: white;
  }
}

.btnType2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  transition: 0.2s;
  width: 280px;

  fill: white;

  &:hover {
    border: 2px solid $primary;
    color: $primary;
    fill: $primary;
  }

  &:active {
    border: 2px solid $secondary;
    color: $secondary;
    fill: $secondary;
  }
}

.btnType3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: $secondary;
  border: 2px solid $secondary;
  border-radius: 30px;
  transition: 0.2s;
  width: 280px;

  fill: $secondary;

  &:hover {
    border: 2px solid $primary;
    color: $primary;
    fill: $primary;
  }

  &:active {
    border: 2px solid $secondary;
    color: $secondary;
    fill: $secondary;
  }
}

// TYPE 4
.btnType4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: white;
  transition: 0.2s;

  fill: white;

  &:hover {
    color: $primary;
    fill: $primary;
  }

  &:active {
    color: $secondary;
    fill: $secondary;
  }
}

// TYPE 5
.btnType5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: $dark;
  transition: 0.2s;

  fill: $dark;

  &:hover {
    color: $primary;
    fill: $primary;
  }

  &:active {
    color: $secondary;
    fill: $secondary;
  }
}

.btnType6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: white;
  background: linear-gradient(to right, $primary, $secondary);
  border-radius: 30px;
  border: 2px solid $secondary;
  transition: 0.2s;
  width: 280px;

  font-size: 1.2rem;

  fill: white;

  &:hover {
    border: 2px solid $primary;
    color: white;
  }

  &:active {
    border: 2px solid $secondary;
    color: white;
  }
}

.btnType7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  color: $dark;
  transition: 0.2s;

  fill: $dark;
  font-size: 1.2rem;

  &:hover {
    color: $primary;
    fill: $primary;
  }

  &:active {
    color: $secondary;
    fill: $secondary;
  }
}
