$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.btnType1 {
  padding: 0.5rem 1.5rem;
  color: white;
  background: linear-gradient(to right, $primary, $secondary);
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: 0.2s;

  &:hover {
    border: 2px solid $primary;
    color: white;
  }

  &:active {
    border: 2px solid $secondary;
    color: white;
  }
}

.btnType2 {
  padding: 0.5rem 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  transition: 0.2s;

  &:hover {
    border: 2px solid $primary;
    color: $primary;
  }

  &:active {
    border: 2px solid $secondary;
    color: $secondary;
  }
}
