$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.aboutOurProcessContent {
  padding: 5rem 1rem;

  .aboutOurProcessTitle {
    text-align: start;
    align-self: start;
  }

  .aboutOurProcessCardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }
  }
}
