$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.heroContent {
  flex-direction: row;
  align-items: start;
  gap: 0;
  overflow: hidden;
  height: fit-content;

  .heroSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    gap: 3rem;

    padding: 8rem 1rem 5rem 1rem;
    text-align: start;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
