$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.heroBackground {
  width: 99%;
  border-radius: 25px;
  margin: auto;
  margin-top: 70px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }
}

.heroBackgroundGradient {
  // background: linear-gradient(-145deg, #04060a00 0%, #050b19 100%);
  background: #050608ad;
}

.heroWrapper {
  flex-direction: column;
  gap: 5rem;

  @media screen and (min-width: 1025px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  // height: calc(100vh - 80px);
}

.heroContent {
  flex-direction: row;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 5rem 0;
  }
}

.heroTitle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  text-align: start;

  @media screen and (max-width: 1024px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    color: white;
    span {
      font-weight: 400;
      background-color: #0aaab8;
      color: white;

      padding: 0 0.5rem;
    }
  }

  p {
    width: 80%;
    color: white;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
