$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.homeFormContent {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .homeFormImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;

    position: relative;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    .homeFormImage {
      position: absolute;
      bottom: -30px;

      @media screen and (max-width: 768px) {
        width: 45%;
      }
    }
  }

  .homeFormTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-align: start;
    width: 60%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      text-align: center;
      width: 100%;
      gap: 1rem;
    }

    h2 span {
      background: linear-gradient(to right, $primary, $secondary);
      background-clip: $primary;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .h2width100 {
      width: 100%;
    }

    .description1 {
      font-size: 20px;
      font-weight: 400;
    }

    .description2 {
      font-size: 24px;
      font-weight: 600;
    }

    p {
      width: 100%;
    }

    .contactContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      max-width: 900px;
      margin: auto;
    }

    .contactText {
      flex: 1;
      padding-right: 40px;
    }

    .contactText h1 {
      font-size: 32px;
      font-weight: bold;
    }

    .highlight {
      color: #007bff; /* Blue color for emphasis */
    }

    .contactForm {
      flex: 1;
      background: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
    }

    .formContainerHalf {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .formGroupName {
      width: 100%;
    }

    .formGroupHalf {
      width: 48%;
    }

    .formGroup label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #797979;
      font-weight: 500;
      font-size: 16px;
      border-radius: 10px;
    }

    textarea {
      width: 100%;
      height: 300px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #797979;
      font-weight: 500;
      font-size: 16px;
      border-radius: 10px;
    }

    .error {
      color: red;
      font-size: 12px;
    }

    .submit-button {
      background: #007bff;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
    .ButtonContainer {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1rem;
    }

    .homeFormBtnContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 2rem;

      width: 100%;

      flex-wrap: wrap;

      @media screen and (max-width: 1024px) {
        justify-content: center;
        gap: 1rem;
      }
    }

    .homeFormFeaturesContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      width: 100%;
      border-radius: 30px;
      background: linear-gradient(145deg, #2a0225 0%, #020e2a 100%);
      padding: 2rem 1rem;

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 80%;
      }

      li {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        width: 40%;
        list-style-type: none;
        padding: 0.6rem;
        color: white;
        min-width: 230px;
      }
    }
  }
}
