.hero {
  padding: 4rem 2rem;
  text-align: center;

  h1, h2 {
    font-size: 2rem;

    span {
      color: #0AAAB8;
    }
  }

  .buttons {
    margin-top: 1.5rem;

    button {
      margin: 0 0.5rem;
      padding: 0.75rem 1.5rem;
    }
  }
}