.navbar {
width: 100%;
height: 100px;
flex-shrink: 0;
background: rgba(2, 14, 42);
backdrop-filter: blur(12.5px);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap : 1rem;
}

.navlogo {
height: 100%;
}

.navlink {
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-variation-settings: "wght" 400;
line-height: normal;

}

.navlinkContainer {
display: flex;
gap: 1rem;

}

.navButton{
    width: 202px;
height: 40px;
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(90deg, #0A6AB8 0%, #0AAAB8 100%);
}

.navbarWrapper{
border: 1px solid rgba(10, 106, 184, 0.35);
background: rgba(2, 14, 42);
backdrop-filter: blur(12.5px);
border: 1px solid rgba(10, 106, 184, 0.35);

}