$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.homeWorkWrapper {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding-bottom: 7rem;

  .homeWorkTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      color: $medium;
      width: 100%;
    }
  }

  .homeWorkImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
  }
}
