$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.scrollDotWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.scrollDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $medium;
  transition: background-color 0.3s ease;

  &.active {
    background-color: $primary;
  }
}
