$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.navbar2Background {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  background: none;

  .navbar2Container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1366px;
    min-width: auto;
    margin: auto;
    display: flex;

    @media screen and (max-width: 1024px) {
      padding: 0 1rem;
    }

    .nav2logo {
      height: 40px;
      display: block;
    }

    .nav2ButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .navButtonMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;
        background: none;

        &:hover {
          h6 {
            color: $primary;
            transition: 0.3s;
          }

          svg {
            fill: $primary;
            transition: 0.3s;
          }
        }

        h6 {
          color: black;
          font-size: 19px;
          width: max-content;
          background: rgba(244, 244, 244, 0.8);
          backdrop-filter: blur(7.5px);
          border-radius: 30px;
          font-weight: 300;
          padding: 0.3rem 3rem 0.3rem 1rem;
          box-shadow: 0px 0px 1px 2px #6868681f;
        }

        .navIcon2 {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: rgba(244, 244, 244, 0.8);
          backdrop-filter: blur(7.5px);
          padding: 0.4rem;
          flex-shrink: 0;
          box-shadow: 0px 0px 1px 2px #6868681f;
        }
      }
    }

    .nav2MenuIconDark {
      svg {
        fill: $light;
        &:hover {
          fill: $primary;
        }
      }
    }
  }
}
