$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.ourWorkWrapper {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 5rem;

  .ourWorkTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      width: 100%;
    }
  }

  .ourWorkImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
  }
}
