$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.contactFormContent {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 5rem 1rem 1rem 1rem;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .contactFormTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    text-align: start;
    width: 45%;

    @media screen and (max-width: 1024px) {
      width: 100%;
      gap: 2rem;
    }

    p {
      width: 80%;
      text-align: justify;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .contactFormContact {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      width: 100%;
      flex-wrap: wrap;

      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
    }

    .formContainerHalf {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .formGroupName {
      width: 100%;
    }

    .formGroupHalf {
      width: 48%;
    }

    .formGroup label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid $medium;
      color: $medium;
      background: none;
    }

    textarea {
      height: 300px;
    }

    .error {
      color: rgb(197, 39, 39);
    }

    .ButtonContainer {
      display: flex;
      justify-content: end;
    }
  }
}
