$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.navbarBackground {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  @media screen and (max-width: 1024px) {
    height: 50px;
  }

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1366px;
    min-width: auto;
    margin: auto;
    display: flex;

    @media screen and (max-width: 1024px) {
      padding: 0 1rem;
    }

    .navlogo {
      height: 40px;
      display: block;
    }

    .navlinkContainer {
      display: flex;
      gap: 1rem;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .navlink {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 55px;
        padding: 0 1rem;
        text-align: center;
      }
    }

    .navButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    .navMenuIcon {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      svg {
        &:hover {
          fill: $primary;
        }
      }

      @media screen and (min-width: 1025px) {
        display: none;
      }
    }

    .navMenuIconDark {
      svg {
        fill: $light;
        &:hover {
          fill: $primary;
        }
      }
    }
  }
}

.navModalLinkContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 5rem 2rem;
  gap: 1.5rem;
  height: 100dvh;
  overflow-y: auto;
  scroll-behavior: smooth;

  .navModalLink {
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    padding: 0.5rem 1.5rem;

    &:hover {
      color: $primary;
      transform: scale(1.05);
    }
  }
}

// Light and Dark Mode Button
.themeButton {
  background-color: none;
  background: none;
  border: none;
  padding: 1rem;

  svg {
    display: block;

    &:hover {
      fill: $primary;
    }
  }
}
