$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.homeServicesWrapper {
  overflow: visible;
}

.homeServicesContent {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  overflow: visible;
  position: relative;
  padding: 8rem 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .homeServicesHeading {
    top: 5rem;
    position: sticky;
    width: 40%;
    text-align: justify;

    @media screen and (max-width: 1024px) {
      width: 35%;
    }

    @media screen and (max-width: 768px) {
      align-items: center;
      text-align: center;
      width: 100%;
      position: static;
    }

    h2 {
      text-align: start;
      margin-bottom: 2rem;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    p {
      color: $medium;
    }
  }

  .homeServicesCardContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;

    @media screen and (max-width: 1024px) {
      width: 65%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
