$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.footerContent {
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .footerlinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;

    .footerlink {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 55px;
      padding: 0 1rem;
      text-align: center;
    }
  }

  .footerCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footerlogo {
      width: 90%;
    }

    .footerh1 {
      color: white;
      text-align: center;
      span {
        font-weight: 400;
        background-color: $primary;
        color: white;

        padding: 0 0.5rem;
      }
    }
  }

  .footerlinkContainerLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .footerlink {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 55px;
      padding: 0 1rem;
      color: #ffffff;
      text-align: center;
    }
  }

  .footerlinkBottom {
    display: flex;
    gap: 1rem;

    span {
      align-self: center;
    }
  }

  .footerCopyright {
    width: 100%;
    text-align: end;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
}
