$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f2f2f2;

.homeHeroContent {
  flex-direction: row;
  align-items: start;
  gap: 0;
  overflow: hidden;
  height: fit-content;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .homeHeroSectionContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    min-height: 700px;
    gap: 3rem;

    padding: 8rem 1rem 5rem 1rem;

    &.left {
      padding-right: 2.5rem;
      padding-bottom: 1rem;
    }

    &.right {
      padding-left: 2.5rem;
      align-items: end;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      align-items: center;

      &.left {
        padding-right: 1rem;
      }

      &.right {
        padding-left: 1rem;
        padding-top: 1rem;
      }
    }

    .homeHeroTitle {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 100%;

      @media screen and (max-width: 1024px) {
        align-items: center;
      }

      h1 {
        width: min-content;
        text-align: start;
      }

      h2 {
        margin: 2rem 0;
        color: $medium;
        text-align: start;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
    }

    .homeHeroBtnContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }

    .workCardWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;

      .workCardContent {
        display: flex;
        flex-direction: column;
        width: 45%;
        aspect-ratio: 3 / 4.5;
        text-align: start;
        gap: 0.5rem;
        position: relative;

        &:hover {
          .clientLink {
            opacity: 1;
            transition: 0.3;
          }
        }

        @media screen and (max-width: 1024px) {
          width: 48%;
        }

        h3 {
          text-align: end;
        }

        .clientLogo {
          position: absolute;
          width: 30%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .clientWorkImage {
          width: 100%;
        }

        .clientLink {
          position: absolute;
          left: 50%;
          bottom: 10%;
          transform: translate(-50%, -50%);
          opacity: 0;
          color: $light;
          transition: 0.3;
        }
      }
    }
  }
}
