$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #000000;
$lightbg: #f2f2f2;

.homeHeroBackground {
  width: 99%;
  border-radius: 25px;
  margin: auto;
  margin-top: 70px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }
}

.homeHeroBackgroundGradient {
  // background: linear-gradient(-145deg, #04060a00 0%, #050b19 100%);
  background: #05060849;
}

.homeHeroWrapper {
  flex-direction: column;

  @media screen and (min-width: 1025px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  // height: calc(100vh - 80px);
}

.homeHeroContent {
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 5rem 0;
  }
}

.homeHeroTitle {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  text-align: start;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    color: white;
    span {
      font-weight: 400;
      background-color: #0aaab8;
      color: white;

      padding: 0 0.5rem;
    }
  }

  p {
    text-align: justify;
    width: 80%;
    color: white;

    @media screen and (max-width: 1024px) {
      text-align: center;
      width: 100%;
    }
  }
}

.homeHeroImageContainer {
  display: flex;
  position: relative;

  .homeHeroImage {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.homeCTAImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  position: relative;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  .homeCTAImage {
    position: absolute;
    bottom: -30px;
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 300px;
    }

    @media screen and (max-width: 768px) {
      width: 45%;
    }
  }
}

.homeHeroBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

// .homeHeroTitle2 {
//   span {
//     background: linear-gradient(to right, $primary, $secondary);
//     background-clip: $primary;
//     -webkit-text-fill-color: transparent;
//     -webkit-background-clip: text;
//   }
// }

.clientListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  position: relative;

  .clientListWrapper {
    display: flex;
    padding: 2rem 0 2rem 4rem;
    gap: 5rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 0 1rem 2rem;
      gap: 2rem;
    }

    .clientLogo {
      height: 80px;
      opacity: 50%;
    }

    .clientLogoDark {
      height: 80px;
      opacity: 50%;
    }
  }

  // Fading Effect
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $lightbg, rgba(255, 255, 255, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, $lightbg, rgba(255, 255, 255, 0));
  }
}

.clientListContainerDark {
  // Fading Effect
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $darkbg, rgba(0, 0, 0, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, $darkbg, rgba(0, 0, 0, 0));
  }
}
