$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.homeHeroWrapper {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.homeHeroTitle {
  h1 {
    color: white;
    span {
      font-weight: 400;
      background-color: #0aaab8;
      color: white;

      padding: 0 0.5rem;
    }
  }
}

p {
  width: 60%;
  margin: 0 auto;
  color: white;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.homeHeroBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.homeHeroTitle2 {
  margin-top: 5rem;
  color: white;

  span {
    background: linear-gradient(to right, $primary, $secondary);
    background-clip: $primary;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.clientListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  position: relative;

  .clientListWrapper {
    display: flex;
    padding: 2rem 0 2rem 4rem;
    gap: 5rem;

    .clientLogo {
      height: 80px;
    }
  }

  // Fading Effect
  //   &::before,
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     width: 150px;
  //     z-index: 1;
  //     pointer-events: none;
  //   }

  //   &::before {
  //     left: 0;
  //     background: linear-gradient(to right, $darkbg, rgba(255, 255, 255, 0));
  //   }

  //   &::after {
  //     right: 0;
  //     background: linear-gradient(to left, $darkbg, rgba(255, 255, 255, 0));
  //   }
}
