$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.homePricingWrapper {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 3rem;

  .homePricingTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .homePricingType {
      font-weight: 200;
      margin-top: 2rem;
    }
  }

  .homePricingCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 4rem;
  }
}
