$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.homeHeroContainer {
  height: 100vh;
  min-height: 1000px; //Depending on the design, this should be adjusted to accommodate the content
}

.heroTitle {
  h1 {
    color: white;
    span {
      font-weight: 400;
      background-color: #0aaab8;
      color: white;

      padding: 0 0.5rem;
    }
  }
}

p {
  width: 60%;
  margin: 0 auto;
  color: white;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.heroBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.heroTitle2 {
  margin-top: 5rem;
  color: white;

  span {
    background: linear-gradient(to right, $primary, $secondary);
    background-clip: $primary;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.clientListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .clientListWrapper {
    display: flex;
    padding: 2rem 0 2rem 4rem;
    gap: 5rem;

    .clientLogo {
      height: 80px;
    }
  }
}
