$primary: #0aaab8;
$secondary: #0a6ab8;
$dark: #323232;
$light: #ffffff;
$darkbg: #020e2a;
$lightbg: #f2f2f2;

.priceCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  border-radius: 15px;
  border: 1px solid #515151;
  padding: 3rem 2rem;

  scroll-snap-align: center;

  @media screen and (max-width: 768px) {
    padding: 3rem 1rem 2rem 1rem;
  }

  .priceCardPopular {
    color: white;
    position: absolute;
    top: 0;

    font-weight: 400;
    font-size: 1rem;

    border-bottom: 1px solid $dark;
    border-radius: 13px 13px 0 0;
    padding: 0.2rem 1.5rem;
    width: 100%;

    background-color: $dark;
  }

  .priceCardContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    height: 500px;
    width: 280px;

    .priceCardName {
      font-weight: 500;
      font-size: 2rem;
    }

    .priceCardPrice {
      display: flex;
      justify-content: center;
      align-items: start;
      font-weight: 600;
      font-size: 3rem;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }
    }

    .priceCardTarget {
      color: #727272;
      font-weight: 300;
      font-size: 0.8rem;
      width: 100%;

      padding: 0 1rem;
    }

    .priceCardFeatures {
      width: 100%;
      margin-top: 1rem;

      li {
        display: flex;
        gap: 1rem;

        text-align: start;
        list-style-type: none;
      }
    }
  }
}
